.navigation {
    display: flex;
    justify-content: center;
}
.calendar {
    margin: 10px auto;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}
th {
    font-weight: bold;
    background-color: #E6E6E6;
}
.cell {
    cursor: pointer;
}
.btn:hover,
.cell:hover {
    background-color: #ddd;
}
.cell__hasNote {
    background-color: #f06fc5;
}
.btn {
    margin: 20px 4px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100500;
    background-color: rgba(0,0,0,0.5);
}
.modal_dialog {
    box-sizing: border-box;
    width: 600px;
    margin: 30px auto;
    padding: 50px 50px 15px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.text_area {
    box-sizing: border-box;
    resize: none;
    width: 500px;
    height: 200px;
}